* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	background-color: #F0F2F5;
}

.material {
	background: #3D3D44;
	height: 100%;
	width: 20%;
	margin: 20px;
	padding: 20px;
	color: white;
	text-align: center;
	border-radius: 12px;
}

.main {
	width: 80%;
	margin: 20px;
}

.material div {
	padding: 15px;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 5px;
	display: flex;
	align-items: center;
	gap: 15px;
	font-size: 18px;
	border-radius: 10px;

}

.tables {
	background-color: #E32F6E;
}

.material .option:hover {
	background-color: rgb(96, 104, 119);
}

/* main */
.header {
	display: flex;
	justify-content: space-between;
}

.input {
	border: none;
	background: transparent;
	padding: 10px;
	font-weight: bold;
	border: 1px solid #333;
}

.builder {
	color: #E32F6E;
	background-color: transparent;
	border: 1px solid #E32F6E;
	border-radius: 10px;
	padding: 15px;
	font-weight: bold;
	cursor: pointer;
}

.builder:hover {
	color: white;
	background-color: #E32F6E;
}

.star {
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 8px;
	font-weight: bold;
	cursor: pointer;
}

.number {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 8px;
	font-weight: bold;
	cursor: pointer;
}

.icons button {
	margin: 10px;
}

.icons i {
	margin: 5px;
	cursor: pointer;
}

.authors {
	width: 95%;
	height: 50px;
	display: flex;
	align-items: center;
	margin: 0 auto;
	border-radius: 5px;
	background: #E32F6E;
}

.authors p {
	margin-left: 15px;
	color: white;
	font-size: 20px;
}

table {
	margin-top: 25px;
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #f5f5f5;
}

.edit {
	padding: 12px 17px;
	cursor: pointer;
	border: none;
}

.pagination {
	display: flex;
	justify-content: center;
	margin: 25px;
}

.page-link {
	border: 1px solid #E32F6E;
	color: #E32F6E;
	margin: 10px;
	font-weight: bold;
	font-size: 15px;
	padding: 15px;
	cursor: pointer;
}

.page-link:hover {
	background: #E32F6E;
	color: white;
}

#modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: #fff;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #ccc;
	max-width: 400px;
}

.modal-content h2 {
	margin-top: 0;
}

.modal-content p {
	margin: 10px 0;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.user_photo{
	width: 25%;
}